* {
    box-sizing: border-box;
}
html, body {
    font-family: sans-serif;
    width: 100%;
    overflow-x: hidden;
    color: #333;
}
img {
    max-width: 100%;
    height: auto;
}
a {
    color: inherit;
}

.page-lock { overflow-y: hidden !important; }
.page-lock .page-shadow {
  position: fixed;
  z-index: 200 !important;
  display: block;
  top: 0; bottom: 0; left: 0; right: 0;
  background-color: rgba(255, 255, 255, 0.5);
}

.no-text-decoration {
    @mixin noTextDecoration;
    a& {
        text-decoration: underline;
    }
}

.strong {
    font-weight: 600;
}

.no-print {
    @media only print { display: none }
}
.print-only {
    display: none;
    @media only print { display: block }
}
.invisible {
    visibility: hidden;
}
